configuration {
    modi: "drun,run,window";
    font: "Hack Nerd Font 12";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: false;
}

@theme "/dev/null"

* {
    /* ayu-light theme variables */
    bg: #FAFAFA;
    bg-alt: #F3F4F5;
    fg: #5C6A72;
    accent: #FA8D3E;
    
    background-color: @bg;
    text-color: @fg;
}

window {
    width: 600px;
    border: 2px;
    border-color: @accent;
    padding: 16;
}

mainbox {
    children: [inputbar, listview];
    spacing: 12px;
}

inputbar {
    children: [prompt, entry];
    border-radius: 5px;
    padding: 2px 8px;
    background-color: @bg-alt;
}

prompt {
    enabled: true;
    text-color: @accent;
}

listview {
    columns: 1;
    lines: 8;
    cycle: true;
    dynamic: true;
    layout: vertical;
}

element {
    padding: 8px;
    border-radius: 5px;
}

element-text, element-icon {
    vertical-align: 0.5;
}

element selected {
    background-color: @accent;
    text-color: @bg;
}
